#map-canvas { 
	height: 60%;
	width:60%;
	margin-left: 10%;
	margin-bottom: 10%;
	border: 3px solid #303030;
	float: left;
 }
 #title {
  	margin-left: 15%;
  	font-family: verdana;
  	font-size: 14px;
 }

 form {
 	font-family: verdana;
 	margin-left: 3%;
 }

#gradient {
	height: 58%;
	width: 30px;
	margin-left:1%;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 20px;
    height: 60%;
    margin-left: 1%;
}