#map-canvas { 
	height: 60%;
	width:60%;
	margin-left: 10%;
	margin-bottom: 10%;
	border: 3px solid #707070;
	float: left;
	position:relative;
 }
 #title {
  	margin-left: 15%;
  	font-family: verdana;
  	font-size: 14px;
 }

#fileUpload {
 	font-family: verdana;
 	margin-left: 3%;
 }

#canvas {
	margin-left: 71%;
	height: 59%;
	width: 30px;
	border: 2px solid #707070;
	position:absolute;
}

#side {
	position: relative;
	float: left;
	left: 55px;
}
#minLabel, #maxLabel {
	font-family: verdana;
	position:absolute;
	bottom:-10%;
	right: 30px;
}
#maxLabel {
	top: -10%;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 20px;
	height: 60%;
	top:5%;
	left: 5px;
}